<div class="row d-flex justify-content-center">
  <div class="col-5 p-1 window">
    <div class="title-bar">
      <div class="title-bar-text">Minesweeper - The greatest game!</div>
      <div class="title-bar-controls">
        <button aria-label="Minimize"></button>
        <button aria-label="Maximize"></button>
        <button aria-label="Close"></button>
      </div>
    </div>

    <div class="window-body to-content p-4">

      <h4 class="my-0">Welcome <%= current_player.nickname %>! </h4>
      <hr>

      <div class="mb-5 d-flex">
        <div class="flex-fill">
          <button id="new-game">
            <%= link_to 'New game', game_path %>
          </button>
        </div>

        <button>
          <%= link_to('Logout', destroy_player_session_path, method: :delete) %>
        </button>
      </div>

      <div class="">
        <dl id="game-list"></dl>   
      </div>

      <div class="py-3" id="game-list-pages"></div>
    </div>
  </div>
</div>

<%= javascript_pack_tag "profile" %>