<div class="row d-flex justify-content-center">
  <div class="col-5 p-1 window">
    <div class="title-bar">
      <div class="title-bar-text">Minesweeper - The greatest game!</div>
      <div class="title-bar-controls">
        <button aria-label="Minimize"></button>
        <button aria-label="Maximize"></button>
        <button aria-label="Close"></button>
      </div>
    </div>

    <div class="window-body p-4">
      <h3 class="my-0">Welcome to Minesweeper!</h3>
      <hr>
      <div>
        <div class="mb-5 d-flex">
          <div class="flex-fill">
            <button>
              <%= link_to 'Play Now', game_path %>
            </button>
          </div>

          <button>
            <%= link_to 'Login', login_path %>
          </button>

          <button>
            <%= link_to "Sign up", signup_path %><br />
          </button>
        </div>
      </div>

      <p>A single-player puzzle video game</p>

      <p>
        The objective of the game is to clear a rectangular board containing hidden 
        "mines" or bombs without detonating any of them, with help from clues about 
        the number of neighboring mines in each field. The game originates from the 
        1960s, and has been written for many computing platforms in use today. 
        It has many variations and offshoots.
      </p>

      <h5>Quick Start:</h5>

      <ul>
        <li>You are presented with a board of squares.</li>
        <li>Some squares contain mines (bombs), others don't.</li>
        <li>If you click on a square containing a bomb, you lose.</li>
        <li>If you manage to click all the squares (without clicking on any bombs) you win.</li>
        <li>
          Clicking a square which doesn't have a bomb reveals the number of neighbouring squares containing bombs.
          Use this information plus some guess work to avoid the bombs.
        </li>
        <li>To open a square, point at the square and click on it.</li> 
        <li>To mark a square you think is a bomb, point and right-click.</li>
      </ul>      
    </div>
  </div>
</div>

<%= javascript_pack_tag "landing" %>