<div class="row d-flex justify-content-center">
  <div class="col-7 p-1 window">

    <div class="title-bar">
      <div class="title-bar-text">Minesweeper - The greatest game!</div>
      <div class="title-bar-controls">
        <button aria-label="Minimize"></button>
        <button aria-label="Maximize"></button>
        <button aria-label="Close"></button>
      </div>
    </div>

    <div class="window-body p-4">
      <h3 class="my-0">Play</h3>
      <hr>

      <div class="mb-5 d-flex">
        <div class="flex-fill">
          <button id="new-game">
            <%= link_to 'New game', game_path %>
          </button>
        </div>

        <button>
          <%= link_to 'Back', root_path %>
        </button>
      </div>

      <div class="counters px-5 d-flex justify-content-between">
        <h4 id="mines-count" class="m-0"></h4>
        <h4 id="flags-count" class="m-0"></h4>
        <h4 id="time-count"  class="m-0"></h4>
      </div>

      <div id="board" class="d-flex flex-column align-items-center pt-4"></div>
    </div>
  </div>

  <div class="window p-1" id="window-result">
    <div class="title-bar">
      <div class="title-bar-text">Minesweeper - The greatest game!</div>
    </div>

    <div class="p-3">
      <div id="result" class="text-center"></div>    
    </div>
  </div>
</div>

<%= javascript_pack_tag "play" %>