<div class="d-flex flex-column align-items-center">
  <div class="w-50">
    <h3>Play</h3>
    <hr>

    <button id="new-game">Start new game</button>

    <div id="board" class="d-flex flex-column align-items-center pt-4"></div>
  </div>

   <%= javascript_pack_tag "game" %>
</div>