<div class="row d-flex justify-content-center">
  <div class="col-5 p-1 window">
    <div class="title-bar">
      <div class="title-bar-text">Minesweeper - The greatest game!</div>
      <div class="title-bar-controls">
        <button aria-label="Minimize"></button>
        <button aria-label="Maximize"></button>
        <button aria-label="Close"></button>
      </div>
    </div>

    <div class="window-body to-content p-4">
      <h3 class="my-0">Sign Up</h3>
      <hr>

      <div class="d-flex flex-column pt-4">
        <div class="field mb-4">
          <label for="nickname" class="d-block">Email</label>
          <input id="email" name="email" type="email" autofocus/>
        </div>

        <div class="field mb-4">
          <label for="nickname" class="d-block">Nickname</label>
          <input id="nickname" name="nickname" type="text"/>
        </div>

        <div class="field mb-4">
          <label for="password" class="d-block">Password</label>
          <input id="password" name="password" type="password"/>
        </div>

        <div class="actions">
          <button id="signup" class="mr-4">Sign Up</button>
          
          <%= link_to "Home", root_path %>
        </div>
      </div>

      <div id="message" class="pt-4 text-danger"></div>
    </div>
  </div>
</div>

<%= javascript_pack_tag "signup" %>