// Place all the styles related to the App controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$bg-color: #C0C0C0;

body {
  min-height: 768px;
  min-width: 1366px;
  max-height: 768px;
  max-width: 1366px;
  background: $bg-color;
  background: image-url("wallpaper.png");
  background-size: 1366px 768px;
  background-color: black;
  background-repeat: no-repeat;
  overflow-y: scroll;
  overflow-x: scroll;
}


$board-cell-size: 24px;
$board-cell-bg-size: 16px;

#board {
  text-align: center;

  .row {
    max-height: $board-cell-size;
    min-height: $board-cell-size;
    margin: 0;
  }

  button {
    max-height: $board-cell-size;
    max-width: $board-cell-size;
    min-height: $board-cell-size;
    min-width: $board-cell-size;
    text-align: center;
    padding: 0;

    &:not(.status-h) {
      &:not(.status-f) {
        box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
      }
    }

    &.status-m {
      background: image-url("mine.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-color: red;
      background-size: $board-cell-bg-size $board-cell-bg-size;
    }

    &.status-f {
      background: image-url("flag.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: $board-cell-bg-size $board-cell-bg-size;
    }

    $number-colors: blue, green, red, purple, brown, orange, magenta, teal;

    @for $i from 1 through 8 {
      &.status-#{$i} {
        font-weight: bold;
        color: nth($number-colors, $i);
      }
    }    
  }
}

.window .window-body {
  min-height: 600px;
  max-height: 600px;
  overflow: auto;
}

#window-result {
  display: none;
  position: absolute;
  left: 115px;
  top: 200px;
}